#Data Types and Structures

##Assignment Questions

####1. What are data structures, and why are they important?

=> Data structures are specialized ways of organizing, managing, and storing data in a computer's memory or on disk so that it can be accessed and used efficiently. They define how data elements are related to each other and what operations can be performed on them. Think of them as blueprints or templates for data organization.

####2.  Explain the difference between mutable and immutable data types with examples.

=>  The difference between mutable and immutable data types lies in whether their value can be changed after they are created.

Mutable Data Types üìù
Mutable data types are those whose value or state can be modified after they are initialized. When you modify a mutable object, you're changing the object in its existing memory location.

Immutable Data Types üîí
Immutable data types are those whose value cannot be changed once they are created. Any operation that appears to modify an immutable object actually creates a completely new object in memory with the updated value.

###3.  What are the main differences between lists and tuples in Python?

=> The main differences between lists and tuples in Python lie in their mutability, syntax, performance, and use cases.

###4. Describe how dictionaries store data.

=> ictionaries store data as key-value pairs. Imagine a physical dictionary where each word (the key) has a corresponding definition (the value). Just like you look up a word to find its definition, you use a key to retrieve its associated value in a dictionary.

###5. Why might you use a set instead of a list in Python?

=> We might use a set instead of a list in Python primarily for efficient membership testing, eliminating duplicate elements, and performing mathematical set operations.

###6. What is a string in Python, and how is it different from a list?

=> A string in Python is a sequence of characters, while a list is a sequence of arbitrary Python objects. Both are ordered and can be iterated through, but they differ fundamentally in their mutability, what they can contain, and how they are typically used.

###7. How do tuples ensure data integrity in Python?

=> Tuples ensure data integrity in Python primarily because they are immutable. This core characteristic means that once a tuple is created, its contents cannot be changed, added to, or removed from.

###8. What is a hash table, and how does it relate to dictionaries in Python?

=> A hash table is a data structure that efficiently stores and retrieves data using a mechanism called hashing. It directly relates to dictionaries in Python because Python dictionaries are implemented using hash tables.

###9. Can lists contain different data types in Python?

=> Yes, lists in Python can contain different data types. This is a key feature of Python lists, making them very flexible.

###10. Explain why strings are immutable in Python.

=> Strings are immutable in Python, meaning once created, you can't change their individual characters or their length. This design choice offers several significant advantages for how Python manages and uses string data.

###11. What advantages do dictionaries offer over lists for certain tasks?

=> Dictionaries offer significant advantages over lists for certain tasks primarily due to their key-value storage and efficient lookup capabilities.

The order of elements is crucial and needs to be preserved.

You need to access elements by their numerical position (index).

You need to store duplicate elements.

The primary operation is iterating over all elements in a defined sequence.

In conclusion, dictionaries provide a powerful way to store and access data when you need efficient lookups based on descriptive keys, represent one-to-one mappings, and ensure key uniqueness.

###12.  Describe a scenario where using a tuple would be preferable over a list.

=> You'd prefer a tuple over a list when you need to represent a fixed collection of related items that shouldn't change, such as a record where the order and content are immutable.

Consider a scenario where you need to store geographical coordinates for various locations, like the latitude and longitude of a city or a point of interest.

###13. How do sets handle duplicate values in Python?

=> Sets in Python automatically handle duplicate values by ensuring that each element in the set is unique. If you try to add a duplicate value to a set, it simply ignores the addition; no error is raised, and the set's content remains unchanged.

###14. How does the ‚Äúin‚Äù keyword work differently for lists and dictionaries?

=> The "in" keyword in Python checks for the presence of an element within a collection. Its behavior differs between lists and dictionaries in terms of what it searches for and the efficiency of that search.

###15.  Can you modify the elements of a tuple? Explain why or why not.

=> No, you cannot modify the elements of a tuple after it has been created. This is because tuples are immutable in Python.

Data Integrity: Guarantees that the data within the tuple will not change unexpectedly.

Thread Safety: Immutable objects are inherently safe in multi-threaded environments as they cannot be simultaneously modified.

Hashability: Immutable objects (if their contents are also immutable) can be hashed and thus used as keys in dictionaries or elements in sets, which requires their hash value to remain constant.

Performance Optimizations: Python can make certain internal optimizations knowing that the content of a tuple won't change.

So, while it might seem restrictive, the immutability of tuples is a deliberate design choice that enhances data integrity, predictability, and efficiency in Python programs for specific use cases.

###16. What is a nested dictionary, and give an example of its use case?

=> A nested dictionary is a dictionary where at least one of its values is itself another dictionary. It allows you to organize and store hierarchical data, similar to how folders contain subfolders on a computer.

This hierarchical organization makes nested dictionaries very powerful for managing complex datasets where items have multiple attributes, and some of those attributes are themselves structured collections.

###17.  Describe the time complexity of accessing elements in a dictionary.

=> Accessing elements in a dictionary typically has a time complexity of O(1), meaning it takes constant time.

Python's built-in hash functions are very good, and its collision resolution strategies (often a form of open addressing) are highly optimized. Therefore, in practical applications, you can almost always rely on dictionary lookups being extremely fast and close to constant time, even for very large dictionaries.

###18.  In what situations are lists preferred over dictionaries?

=> Lists are preferred over dictionaries in Python when the order of elements is important or when you need to store and access data by numerical index.

###19. Why are dictionaries considered unordered, and how does that affect data retrieval?

=> Dictionaries are considered unordered because, historically, their internal implementation did not guarantee any specific order of elements. This characteristic primarily affects how you iterate through a dictionary, not how you retrieve individual data items by their key.

###20. Explain the difference between a list and a dictionary in terms of data retrieval.

=> The difference in data retrieval between lists and dictionaries lies in the method of access and the underlying efficiency.

Lists: Positional Retrieval üìç
Lists retrieve data based on its numerical position or index.

Method of Access: You access elements by their integer index (e.g., my_list[0], my_list[3]).

Search Mechanism:

If you know the index, retrieval is O(1) (constant time), meaning it's very fast regardless of list size.

If you need to find an element by its value (e.g., if 'apple' in my_list:), Python performs a linear search from the beginning of the list.

Efficiency for Value Search: This linear search is O(n) (linear time) in the worst case, where 'n' is the number of elements. The time taken increases proportionally with the size of the list because, on average, Python has to check half the list (or the whole list if the item isn't present).

Dictionaries: Key-Based Retrieval üîë
Dictionaries retrieve data based on a unique key associated with each value.

Method of Access: You access values using their corresponding keys (e.g., my_dict['name'], my_dict[123]).

Search Mechanism: Dictionaries use hash tables. When you provide a key, a hash function quickly computes a memory location where the associated value is stored. This allows for direct access.

Efficiency for Key Search: Retrieval by key is O(1) (constant time) on average. This means it's extremely fast, regardless of how many items are in the dictionary. The time to find a value by its key does not significantly increase with the dictionary's size.

##Practical Questions

In [1]:
#1.
my_name = "Pallavi Payal"
print(my_name)

Pallavi Payal

In [2]:
#2.

my_string = "Hello World"

string_length = len(my_string)

print(f"The length of the string '{my_string}' is: {string_length}")

The length of the string 'Hello World' is: 11

In [3]:
#3.

original_string = "Python Programming"

sliced_string = original_string[0:3]

print(f"Original string: '{original_string}'")
print(f"Sliced first 3 characters: '{sliced_string}'")

Original string: 'Python Programming'
Sliced first 3 characters: 'Pyt'

In [4]:
#4.

original_string = "hello"

uppercase_string = original_string.upper()

print(f"Original string: '{original_string}'")
print(f"Uppercase string: '{uppercase_string}'")

Original string: 'hello'
Uppercase string: 'HELLO'

In [5]:
#5.

original_string = "I like apple"

modified_string = original_string.replace("apple", "orange")

print(f"Original string: '{original_string}'")
print(f"Modified string: '{modified_string}'")

Original string: 'I like apple'
Modified string: 'I like orange'

In [6]:
#6.
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
#7.

my_list = [1, 2, 3, 4]

my_list.append(10)

print(my_list)

[1, 2, 3, 4, 10]

In [8]:
#8.

my_list = [1, 2, 3, 4, 5]

my_list.remove(3)

print(my_list)

[1, 2, 4, 5]

In [9]:
#9.

my_list = ['a', 'b', 'c', 'd']

second_element = my_list[1]

print(f"The second element of the list is: '{second_element}'")

The second element of the list is: 'b'

In [10]:
#10.
my_list = [10, 20, 30, 40, 50]

print(f"Original list: {my_list}")

list_to_reverse_in_place = my_list[:]
list_to_reverse_in_place.reverse()
print(f"Reversed list (using .reverse()): {list_to_reverse_in_place}")

new_reversed_list = my_list[::-1]
print(f"Reversed list (using slicing [::-1]): {new_reversed_list}")

print(f"Original list after slicing: {my_list}")

Original list: [10, 20, 30, 40, 50]
Reversed list (using .reverse()): [50, 40, 30, 20, 10]
Reversed list (using slicing [::-1]): [50, 40, 30, 20, 10]
Original list after slicing: [10, 20, 30, 40, 50]

In [11]:
#11.
my_tuple = (100,200,300,400)
print(my_tuple)

(100, 200, 300, 400)

In [12]:
#12.
my_tuple = ('red', 'green', 'blue', 'yellow')

second_to_last_element = my_tuple[-2]

print(f"The original tuple is: {my_tuple}")
print(f"The second-to-last element is: '{second_to_last_element}'")

The original tuple is: ('red', 'green', 'blue', 'yellow')
The second-to-last element is: 'blue'

In [13]:
#13.
my_tuple = (10, 20, 5, 15)

minimum_number = min(my_tuple)

print(f"The tuple is: {my_tuple}")
print(f"The minimum number in the tuple is: {minimum_number}")

The tuple is: (10, 20, 5, 15)
The minimum number in the tuple is: 5

In [14]:
#14.
my_tuple = ('dog', 'cat', 'rabbit')

try:
    index_of_cat = my_tuple.index('cat')
    print(f"The tuple is: {my_tuple}")
    print(f"The index of 'cat' is: {index_of_cat}")
except ValueError:
    print("The element 'cat' was not found in the tuple.")

The tuple is: ('dog', 'cat', 'rabbit')
The index of 'cat' is: 1

In [15]:
#15.
fruits_tuple = ('apple', 'banana', 'orange')

is_kiwi_present = "kiwi" in fruits_tuple

print(f"The fruits tuple is: {fruits_tuple}")
print(f"Is 'kiwi' in the tuple? {is_kiwi_present}")

if "kiwi" in fruits_tuple:
    print("Yes, 'kiwi' is one of the fruits!")
else:
    print("No, 'kiwi' is not in this tuple of fruits.")

The fruits tuple is: ('apple', 'banana', 'orange')
Is 'kiwi' in the tuple? False
No, 'kiwi' is not in this tuple of fruits.

In [18]:
#16.
my_set = {'a','b','c'}

print(my_set)

{'b', 'c', 'a'}

In [19]:
#17.
my_set = {1, 2, 3, 4, 5}
print(f"Original set: {my_set}")

my_set.clear()

print(f"Set after clearing: {my_set}")

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

In [20]:
#18.
my_set = {1, 2, 3, 4}
print(f"Original set: {my_set}")

try:
    my_set.remove(4)
    print(f"Set after removing 4: {my_set}")
except KeyError:
    print("Element 4 was not found in the set.")

another_set = {10, 20, 30}
print(f"\nAnother set: {another_set}")
another_set.discard(20)
another_set.discard(50)
print(f"Another set after discarding 20 and 50: {another_set}")

Original set: {1, 2, 3, 4}
Set after removing 4: {1, 2, 3}

Another set: {10, 20, 30}
Another set after discarding 20 and 50: {10, 30}

In [21]:
#19.
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set_method = set1.union(set2)
print(f"Set 1: {set1}")
print(f"Set 2: {set2}")
print(f"Union using .union() method: {union_set_method}")

union_set_operator = set1 | set2
print(f"Union using | operator: {union_set_operator}")

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Union using .union() method: {1, 2, 3, 4, 5}
Union using | operator: {1, 2, 3, 4, 5}

In [22]:
#20.
set_a = {1, 2, 3}
set_b = {2, 3, 4}

intersection_set_method = set_a.intersection(set_b)
print(f"Set A: {set_a}")
print(f"Set B: {set_b}")
print(f"Intersection using .intersection() method: {intersection_set_method}")

intersection_set_operator = set_a & set_b
print(f"Intersection using & operator: {intersection_set_operator}")

Set A: {1, 2, 3}
Set B: {2, 3, 4}
Intersection using .intersection() method: {2, 3}
Intersection using & operator: {2, 3}

In [23]:
#21.
person_info = {
    'name': 'Pallavi',
    'age': 25,
    'city': 'samastipur'
}

print(person_info)

{'name': 'Pallavi', 'age': 25, 'city': 'samastipur'}

In [24]:
#22.
my_dict = {'name': 'John', 'age': 25}
print(f"Original dictionary: {my_dict}")

my_dict["country"] = "USA"

print(f"Dictionary after adding 'country': {my_dict}")

Original dictionary: {'name': 'John', 'age': 25}
Dictionary after adding 'country': {'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
#23.
person_data = {'name': 'Alice', 'age': 30}

name_value = person_data["name"]

print(f"The dictionary is: {person_data}")
print(f"The value associated with the key 'name' is: '{name_value}'")

The dictionary is: {'name': 'Alice', 'age': 30}
The value associated with the key 'name' is: 'Alice'

In [26]:
#24.
student_info = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(f"Original dictionary: {student_info}")

del student_info["age"]

print(f"Dictionary after removing 'age': {student_info}")

Original dictionary: {'name': 'Bob', 'age': 22, 'city': 'New York'}
Dictionary after removing 'age': {'name': 'Bob', 'city': 'New York'}

In [27]:
#25.
person_location = {'name': 'Alice', 'city': 'Paris'}

if "city" in person_location:
    print(f"The key 'city' exists in the dictionary: {person_location}")
else:
    print(f"The key 'city' does NOT exist in the dictionary: {person_location}")

print("\n--- Checking for a non-existent key ---")
if "age" in person_location:
    print(f"The key 'age' exists in the dictionary.")
else:
    print(f"The key 'age' does NOT exist in the dictionary.")

The key 'city' exists in the dictionary: {'name': 'Alice', 'city': 'Paris'}

--- Checking for a non-existent key ---
The key 'age' does NOT exist in the dictionary.

In [28]:
#26.
my_list = ["apple", "banana", "cherry", 1, 2, 3]
print(f"My List: {my_list}")

my_tuple = ("red", "green", "blue", 10, 20)
print(f"My Tuple: {my_tuple}")

my_dictionary = {
    "name": "Alice",
    "age": 25,
    "is_student": True,
    "courses": ["Math", "Science"]
}
print(f"My Dictionary: {my_dictionary}")

My List: ['apple', 'banana', 'cherry', 1, 2, 3]
My Tuple: ('red', 'green', 'blue', 10, 20)
My Dictionary: {'name': 'Alice', 'age': 25, 'is_student': True, 'courses': ['Math', 'Science']}

In [29]:
#27.
import random

random_numbers = []

for _ in range(5):
    random_num = random.randint(1, 100)
    random_numbers.append(random_num)

print(f"Original list of random numbers: {random_numbers}")

random_numbers.sort()

print(f"Sorted list (ascending): {random_numbers}")

Original list of random numbers: [85, 36, 100, 23, 27]
Sorted list (ascending): [23, 27, 36, 85, 100]

In [30]:
#28.
my_string_list = ["apple", "banana", "cherry", "date", "elderberry"]

print(f"The list is: {my_string_list}")

element_at_third_index = my_string_list[3]

print(f"The element at the third index is: '{element_at_third_index}'")

The list is: ['apple', 'banana', 'cherry', 'date', 'elderberry']
The element at the third index is: 'date'

In [31]:
#29.
dict1 = {"name": "Alice", "age": 30}
dict2 = {"city": "New York", "occupation": "Engineer"}

print(f"Dictionary 1: {dict1}")
print(f"Dictionary 2: {dict2}")

combined_dict_update = dict1.copy()
combined_dict_update.update(dict2)
print(f"\nCombined using .update(): {combined_dict_update}")

combined_dict_unpacking = {**dict1, **dict2}
print(f"Combined using ** operator: {combined_dict_unpacking}")

combined_dict_pipe = dict1 | dict2
print(f"Combined using | operator: {combined_dict_pipe}")

dict_overlap1 = {"a": 1, "b": 2, "c": 3}
dict_overlap2 = {"c": 4, "d": 5}
combined_overlap = {**dict_overlap1, **dict_overlap2}
print(f"\nCombined with overlapping keys (c is from dict_overlap2): {combined_overlap}")

Dictionary 1: {'name': 'Alice', 'age': 30}
Dictionary 2: {'city': 'New York', 'occupation': 'Engineer'}

Combined using .update(): {'name': 'Alice', 'age': 30, 'city': 'New York', 'occupation': 'Engineer'}
Combined using ** operator: {'name': 'Alice', 'age': 30, 'city': 'New York', 'occupation': 'Engineer'}
Combined using | operator: {'name': 'Alice', 'age': 30, 'city': 'New York', 'occupation': 'Engineer'}

Combined with overlapping keys (c is from dict_overlap2): {'a': 1, 'b': 2, 'c': 4, 'd': 5}

In [32]:
#30.
my_string_list = ["apple", "banana", "cherry", "apple", "date", "banana"]
print(f"Original List of Strings: {my_string_list}")

my_string_set = set(my_string_list)

print(f"Converted Set of Strings: {my_string_set}")

Original List of Strings: ['apple', 'banana', 'cherry', 'apple', 'date', 'banana']
Converted Set of Strings: {'apple', 'cherry', 'banana', 'date'}